In [1]:
import numpy as np
import pandas as pd

In [3]:
data_file_old=pd.read_excel('Desktop/Book_old.xlsx')
data_file_new=pd.read_excel('Desktop/Book_new.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: 'Desktop/Book_old.xlsx'

In [ ]:
#data_file_old.columns

In [ ]:
#data_file_new.columns

In [ ]:
#print(data_file_old[0:5])
#print(data_file_new[0:5])

In [ ]:
arr1=data_file_old.values.tolist()
arr2=data_file_new.values.tolist()
ans=[]

In [78]:
print(arr2[0][2])

Jim Rauscher

In [79]:
for i in arr1:
    if i[0] not in arr2:
        arr1.remove(i)

In [80]:
for i in arr2:
    if i[0] not in arr1:
        ans.append(i)

In [94]:
#print(ans)

In [85]:
df = pd.DataFrame(ans)

In [86]:
print(df)

                                     0  \
0                     WOKING-N-45159-3
1                     WOKING-A-50949-1
2                  REMOTE DC-A-52289-1
3             REMOTE DC-A-51672-1_bulk
4                WOKING-A-49621-1_bulk
..                                 ...
71                        MM-A-61318-1
72  WOKING-N-45713-3 - POR-ICL-0000287
73  WOKING-N-47560-2 - POR-ICL-0000294
74                    WOKING-A-54627-1
75                        MM-A-61110-2

                                               1                   2      3  \
0                                Miles Smith Ltd        Jim Rauscher    NaN
1                   Thomsons Online Benefits Ltd        Kamal Sharma    NaN
2        Blevins Franks Financial Management Ltd  Krishna Somanathan    NaN
3             Ceridian Dayforce, Inc. (PowerPay)    Jamie Welch-Ward    NaN
4                        Ceridian Europe Limited    Jamie Welch-Ward    NaN
..                                           ...                 ...    ...
71             Federal Elite Heating and Cooling   Pranshul Kathuria  625.0
72                          IRIS Capital Limited        Piyush Sinha    NaN
73                          IRIS Capital Limited        Piyush Sinha    NaN
74                          IRIS Capital Limited  Krishna Somanathan    NaN
75  Houghton Mifflin Harcourt Publishing Company       Rufina Britto    NaN

     4   5   6        7   8   9          10           11           12
0  NaN NaN NaN      NaN NaN NaN         NaN  1188.624800  1188.624800
1  NaN NaN NaN      NaN NaN NaN         NaN  1336.702426  1336.702426
2  NaN NaN NaN      NaN NaN NaN         NaN   529.200000   529.200000
3  NaN NaN NaN      NaN NaN NaN         NaN  1680.000000  1680.000000
4  NaN NaN NaN      NaN NaN NaN         NaN    90.085248    90.085248
..  ..  ..  ..      ...  ..  ..         ...          ...          ...
71 NaN NaN NaN      NaN NaN NaN         NaN          NaN   625.000000
72 NaN NaN NaN      NaN NaN NaN         NaN  7142.609077  7142.609077
73 NaN NaN NaN      NaN NaN NaN         NaN   664.929225   664.929225
74 NaN NaN NaN      NaN NaN NaN  782.002512          NaN   782.002512
75 NaN NaN NaN  2987.84 NaN NaN         NaN          NaN  2987.840000

[76 rows x 13 columns]

In [92]:
writer = pd.ExcelWriter('pandas_simple.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
df.to_excel(writer, sheet_name='Sheet1')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [89]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,WOKING-N-45159-3,Miles Smith Ltd,Jim Rauscher,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1188.624800,1188.624800
1,WOKING-A-50949-1,Thomsons Online Benefits Ltd,Kamal Sharma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1336.702426,1336.702426
2,REMOTE DC-A-52289-1,Blevins Franks Financial Management Ltd,Krishna Somanathan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,529.200000,529.200000
3,REMOTE DC-A-51672-1_bulk,"Ceridian Dayforce, Inc. (PowerPay)",Jamie Welch-Ward,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1680.000000,1680.000000
4,WOKING-A-49621-1_bulk,Ceridian Europe Limited,Jamie Welch-Ward,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.085248,90.085248
...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,MM-A-61318-1,Federal Elite Heating and Cooling,Pranshul Kathuria,625.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,625.000000
72,WOKING-N-45713-3 - POR-ICL-0000287,IRIS Capital Limited,Piyush Sinha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7142.609077,7142.609077
73,WOKING-N-47560-2 - POR-ICL-0000294,IRIS Capital Limited,Piyush Sinha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,664.929225,664.929225
74,WOKING-A-54627-1,IRIS Capital Limited,Krishna Somanathan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,782.002512,NaN,782.002512
75,MM-A-61110-2,Houghton Mifflin Harcourt Publishing Company,Rufina Britto,NaN,NaN,NaN,NaN,2987.84,NaN,NaN,NaN,NaN,2987.840000